<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          

            
              <div class="form-group text-left">
                <label for="tradingSymbol">tradingSymbol</label>
                
                  <input formControlName="tradingSymbol" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="description">description</label>
                
                  <input formControlName="description" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="mainExchange">mainExchange</label>
                
                  <input formControlName="mainExchange" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="quantitys">quantitys</label>
                
                  <input formControlName="quantitys" type="number" step='any' class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="owner">owner</label>
                
                    <textarea formControlName="owner" class="form-control" rows="3"></textarea>
                
              </div>
            
          

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="tradingSymbol">tradingSymbol</label>

              
                <input [ngModel]="tradingSymbol"formControlName="tradingSymbol" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="description">description</label>

              
                <input [ngModel]="description"formControlName="description" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="mainExchange">mainExchange</label>

              
                <input [ngModel]="mainExchange"formControlName="mainExchange" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="quantitys">quantitys</label>

              
                <input [ngModel]="quantitys" formControlName="quantitys" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="owner">owner</label>

              
                
                  <textarea [ngModel]="owner" formControlName="owner" class="form-control" rows="3"></textarea>
                
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Commodity</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">tradingSymbol</th>
            
                <th class="info">description</th>
            
                <th class="info">mainExchange</th>
            
                <th class="info">quantitys</th>
            
                <th class="info">owner</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.tradingSymbol}}</td>
            
                <td>{{asset.description}}</td>
            
                <td>{{asset.mainExchange}}</td>
            
                <td>{{asset.quantitys}}</td>
            
                <td>{{asset.owner}}</td>
            
            <td>
              <button (click)="getForm(asset.tradingSymbol);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.tradingSymbol);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
